<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src='../js/vue.js'></script>
</head>

<body>
    <div id='root'>
        <input type="text" v-model="firstName">
        <br>
        <input type="text" v-model="lastName">
        <br>
        {{fullName}}
    </div>
    <script>
        const vm = new Vue({
            el: '#root',
            /**
             * data数据在vue实例使用了数据代理，vm._data === data中的数据，同时创建监听data数据的get和set方法
             * */
            //属性
            data: {
                firstName: 'kobe',
                lastName: '科比',
            },
            /**
             * 计算属性   ：要用的属性不存在于data中，要通过已有的属性计算得来
             * 
             * 计算属性没有被vm._data所代理，当被调用计算完后，返回在vue实例对象属性上
             * 
             * 计算属性的底层逻辑：Object.defineProperty()
             * 计算属性默认只有 getter，如果你想在属性值被重新定义时进行操作操作，也是可以提供setter 
             * 使用：vm.fullName = "第二名永远就是失败者"      属性中set方法就会被调用 
             * 计算属性中属性值的get没有参数，set只有一个参数.(该参数就是替换的新值)
             * 
             * 计算属性与methods的区别：
             * methods 没有缓存，重复调用多次，都会每次重新一次执行一篇
             * computed 有缓存，重复调用多次，都只会执行一次，只有属性值中关联的值被修改，就会重新渲染一次
             * 从而在使用技巧做了区分，methods 只做事件处理，而computed 是对数据进行加工处理
             * */
            computed: {
                // 完整写法
                /*
                fullName: {
                    get() {
                        console.log("get被调用")
                        return this.firstName + '-' + this.lastName;
                    },
                    set(newValue) {
                        console.log(newValue)
                    }
                },
                */
                //计算属性默认是get方法调用    
                fullName(){
                    return this.firstName + '-' + this.lastName;
                }
            }
        })
        console.log(vm)
    </script>
</body>

</html>