<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src='../js/vue.js'></script>
</head>

<body>
    <div id='root'>
        <input type="text" v-model="team">
        <br><br>
        <input type="text" v-model="name">
        <br><br>
        全名：{{team}}-{{name}}
    </div>
    <script>
        const vm = new Vue({
            el: '#root',
            data: {
                name: '吉米·巴特勒',
                team: '热火队'
            }
        })
    </script>
</body>

</html>